
.metadata/.lock

.metadata/.log

*.index

*.prefs

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.metadata/version.ini

.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties

.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml

.metadata/.plugins/org.eclipse.jdt.launching/.install.xml

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.core.resources/.history/25/e02656e1e9ff00141be6c3c1583fc823

.metadata/.plugins/org.eclipse.core.resources/.history/2a/90c612dfe9ff00141be6c3c1583fc823

.metadata/.plugins/org.eclipse.core.resources/.history/46/702947c7e9ff00141be6c3c1583fc823

.metadata/.plugins/org.eclipse.core.resources/.history/57/c06b1ec7e9ff00141be6c3c1583fc823

.metadata/.plugins/org.eclipse.core.resources/.history/f0/7016b7e2e9ff00141be6c3c1583fc823

.metadata/.plugins/org.eclipse.core.resources/.history/6/805eaac4e9ff00141be6c3c1583fc823

.metadata/.plugins/org.eclipse.core.resources/.projects/BancaAvaliacoes/.location

.metadata/.plugins/org.eclipse.core.resources/.projects/BancaAvaliacoes/.markers.snap

*.snap

*.resources
